# Игнорировать все __pycache__ каталоги
__pycache__/
**/__pycache__/

# Игнорировать все .pyc файлы
*.pyc

# Игнорировать все .pyo файлы
*.pyo

# Игнорировать файлы временных настроек IDE (например, VS Code, PyCharm)
.vscode/
.idea/
